<div class="panel panel-primary" *ngIf="candidate">
  <div class="panel-heading">
    <h3 class="panel-title">{{candidate.FullName}}</h3>
  </div>
  <div class="panel-body">
    <div class="col-xs-10">
      <div class="row vertical-align">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-6">
              Domain
            </div>
            <div class="col-xs-6">
              : {{candidate.Domain}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Date of Birth
            </div>
            <div class="col-xs-6">
              : {{candidate.DOB | date}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              Profile Document :
            </div>
            <div class="col-xs-6">
              <a class="btn btn-primary" (click)="downloadFile()">
                {{candidate.DocumentName}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <a class="btn btn-primary" routerLink="/candidates">
      Back to List
    </a>
  </div>
</div>